<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minh.doan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.ChiTietNhaHangActivity" />
        <activity android:name=".activity.ChiTietMonAnActivity" />
        <activity android:name=".activity.DatHangActivity" />
        <activity android:name=".activity.GioHangActivity" />
        <activity android:name=".activity.KhoiDongActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ThanhToanActivity" />
        <activity android:name=".activity.DanhSachMonAn" />
        <activity android:name=".activity.DanhSachNhaHang"></activity>
    </application>

</manifest>